@import "../styles/variables";
@import "../styles/mixins";

div.card-background {
  background-color: $background;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  @include for-tablet-portrait-up {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
