@import "./styles/variables";
@import "./styles/mixins";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.header__wrapper {
  width: 100%;
  margin: 0 !important;
  background-color: $dark;
  color: white;
}

div.header__logo {
  padding-left: 10px;
}

div.header__user {
  padding-right: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
